.card {
  display: flex;
  justify-content: space-between;
  background: #fff;
  width: clamp(360px, 50%, 400px);
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
}

.card h3 {
  color: #000;
}

.data,
.user {
  color: #616161;
  font-size: 1rem;
}

.task_details {
  display: flex;
}

.tast_status {
}

button {
  background: transparent;
  border: none;
}
